*{
box-sizing: border-box;
}
@font-face {
font-family: 'misoregular';
src: url('../fonts/miso-webfont.woff2') format('woff2'),
url('./fonts/miso-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'misobold';
src: url('../fonts/miso-bold-webfont.woff2') format('woff2'),
url('../fonts/miso-bold-webfont.woff') format('woff');
font-weight: 600;
font-style: normal;
}
html{
font-size: 10px;
}
body{
padding: 50px;
margin: 0;
font-size: 2rem;
}
h2{
margin: 0 auto;
padding: 0 0 25px 0;
font-size: 5.6rem;
line-height: 1;
color: #333333;
font-family: 'misoregular';
font-weight: normal;
transition: color .3s ease-in;

}
h2+span{
color:black ;
padding: 0 5px;
text-align: center;
font-size: 2rem;
font-family: 'Lato', sans-serif;
font-weight: 300;
color: rgba(0, 0, 0, 0.7);

}
.container { 
max-width: 1200px;
margin: 0 auto;
background-color: #fdde7e;
}

.wrraper { 
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 25px;
}
a{
display: block;
width: 100%;
height: 100%;
text-decoration: none;
}
.card img {
max-width: 100%;
}
.card {
background-color: #fff;
flex: 0 1 calc(30% + 15px);
}
.items__wrraper{
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 10px 30px;
}
.card__price span::before{
content: "$";
}
.card--height{
padding: 50px 10px;
}
.smaller__card-img-padding img{
padding: 20px 0 25px;
}

.bigger__card-img-padding img{
padding: 40px 0;
}

.card__price {
font-family: 'misobold',sans-serif;
font-weight: 600;
font-size: 7rem;
color: #02995b;
padding: 0 20px 0 10px;
}
.title--bronze:hover{
color: #ff7900;
}
.title--gold:hover{
color: #ffca28;
}
.title--silver:hover{
color: #bdbdbd;
}


